/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:b4c3a60a597eec8adcf95701a97702e0:f30b543789e05acd3ccb4b60becddeec:d7ba01426db635169c400002fdfb5de4$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(spells_spritesheet.png);}

.arcane-sceptre {width:56px; height:56px; background-position: -0px -0px}
.attack_mask {width:56px; height:56px; background-position: -56px -0px}
.beam-arcane {width:56px; height:56px; background-position: -0px -56px}
.beam-cold {width:56px; height:56px; background-position: -56px -56px}
.beam-fire {width:56px; height:56px; background-position: -0px -112px}
.beam-light {width:56px; height:56px; background-position: -56px -112px}
.black-hole {width:56px; height:56px; background-position: -0px -168px}
.blizzard-1 {width:56px; height:56px; background-position: -56px -168px}
.blizzard-2 {width:56px; height:56px; background-position: -0px -224px}
.blizzard-3 {width:56px; height:56px; background-position: -56px -224px}
.book-ancient {width:56px; height:56px; background-position: -0px -280px}
.book-arcane {width:56px; height:56px; background-position: -56px -280px}
.book-magic {width:56px; height:56px; background-position: -0px -336px}
.book-secret {width:56px; height:56px; background-position: -56px -336px}
.book-spell {width:56px; height:56px; background-position: -0px -392px}
.cold-fire {width:56px; height:56px; background-position: -56px -392px}
.cure-1 {width:56px; height:56px; background-position: -0px -448px}
.cure-2 {width:56px; height:56px; background-position: -56px -448px}
.cure-3 {width:56px; height:56px; background-position: -0px -504px}
.dagger-1 {width:56px; height:56px; background-position: -56px -504px}
.dagger-2 {width:56px; height:56px; background-position: -0px -560px}
.dagger-3 {width:56px; height:56px; background-position: -56px -560px}
.dragon-blade-1 {width:56px; height:56px; background-position: -0px -616px}
.dragon-blade-2 {width:56px; height:56px; background-position: -56px -616px}
.dragon-blade-3 {width:56px; height:56px; background-position: -0px -672px}
.earth-1 {width:56px; height:56px; background-position: -56px -672px}
.earth-2 {width:56px; height:56px; background-position: -0px -728px}
.earth-3 {width:56px; height:56px; background-position: -56px -728px}
.entangle-1 {width:56px; height:56px; background-position: -0px -784px}
.entangle-2 {width:56px; height:56px; background-position: -56px -784px}
.entangle-3 {width:56px; height:56px; background-position: -0px -840px}
.explosion-1 {width:56px; height:56px; background-position: -56px -840px}
.explosion-2 {width:56px; height:56px; background-position: -0px -896px}
.explosion-3 {width:56px; height:56px; background-position: -56px -896px}
.flare {width:56px; height:56px; background-position: -0px -952px}
.meteor {width:56px; height:56px; background-position: -56px -952px}
.needles {width:56px; height:56px; background-position: -0px -1008px}
.nova {width:56px; height:56px; background-position: -0px -1120px}
.nova-mega {width:56px; height:56px; background-position: -56px -1008px}
.nova-super {width:56px; height:56px; background-position: -0px -1064px}
.nova-ultra {width:56px; height:56px; background-position: -56px -1064px}
.plague {width:56px; height:56px; background-position: -56px -1120px}
.star-cold {width:56px; height:56px; background-position: -0px -1176px}
.star-fire {width:56px; height:56px; background-position: -56px -1176px}
.sun {width:56px; height:56px; background-position: -0px -1232px}
.sword-arcane {width:56px; height:56px; background-position: -56px -1232px}
.sword-cold {width:56px; height:56px; background-position: -0px -1288px}
.sword-dark {width:56px; height:56px; background-position: -56px -1288px}
.sword-fire {width:56px; height:56px; background-position: -0px -1344px}
.sword-gold {width:56px; height:56px; background-position: -56px -1344px}
.sword-holy {width:56px; height:56px; background-position: -0px -1400px}
.terror-1 {width:56px; height:56px; background-position: -56px -1400px}
.terror-2 {width:56px; height:56px; background-position: -0px -1456px}
.terror-3 {width:56px; height:56px; background-position: -56px -1456px}
.thunder-1 {width:56px; height:56px; background-position: -0px -1512px}
.thunder-2 {width:56px; height:56px; background-position: -56px -1512px}
.thunder-3 {width:56px; height:56px; background-position: -0px -1568px}
.wind-1 {width:56px; height:56px; background-position: -56px -1568px}
.wind-2 {width:56px; height:56px; background-position: -0px -1624px}
.wind-3 {width:56px; height:56px; background-position: -56px -1624px}
.wings {width:56px; height:56px; background-position: -0px -1680px}
