.dockerignore
.git
.gitignore
.idea
.vscode
**/.DS_Store
**/node_modules
packages/*/dist
packages/*/lib
packages/*/build
**/tmp
**/.angular
**/.venv
**/.storybook/
**/coverage/
**/.env.local
**/.env.test
**/.eslintcache
**/*.log
