# System and IDE files
Thumbs.db
.DS_Store
.directory
.idea
*.suo
*.sublime-project
*.sublime-workspace

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Vendors
node_modules/
coverage/
lib/

# Build
build/
npm-debug.log
yarn-error.log

# Yarn-only
package-lock.json

.eslintcache
