.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  margin: 2px;
}

.root:not(.last-child) {
  margin-right: 0;
}

.btn {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border: var(--btn-border-color) solid var(--btn-border-width);
  padding: 0;
  overflow: hidden;
}

.btn > div {
  transform: scale(calc(32 / 56));
  transform-origin: 0 0;
}

:not(.active) > .btn:hover {
  width: 38px;
  height: 38px;
}

:not(.active) > .btn:hover > div {
  transform: scale(calc(38 / 56));
}

.root.active {
  border: var(--btn-border-color) solid var(--btn-border-width);
  width: 38px;
  height: 38px;
}

.root.disabled {
  pointer-events: none;
  opacity: 0.5;
}
