.root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.root.disabled {
  opacity: 0.5;
}

.item {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
}

.item.running {
    color: #fff;
}

.item.complete {
    color: #fff4;
}

.item.canceled {
    color: #f884;
}

.item::before {
    content: '';
    position: absolute;
    top: -3px;
    right: 0;
    height: 8px;
    width: 8px;
    border: 4px solid transparent;
    border-right-color: currentColor;
}

.itemLines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-top: 1px solid currentColor;
}

.itemLines::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 28px;
  border-right: 1px solid currentColor;
}

.itemLines::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 28px;
  width: calc(100% - 28px);
  border-bottom: 1px solid currentColor;
}

.spellSprite {
  transform: scale(calc(18 / 56));
  transform-origin: 100% 0;
  position: absolute;
  top: 2px;
  right: calc(28px + 2px);
}
